.scheduleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.scheduleArrowBackIcon {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.scheduleArrowBackIcon {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .scheduleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
