.dailyTaskContainer {
  width: 600px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  
}
.dailyTaskTitleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.dailyTaskTitle {
  text-align: center;
}
.emailContainer {
  padding-right: 40px;
}
.emailTime {
  font-size: 20px;
  margin-bottom: 20px;
}
.emailItemTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.emailRecipients {
  font-size: 20px;
  margin-bottom: 20px;
  padding-right: 30px;
  word-wrap: break-word;
}

.emailSubject {
  font-size: 18px;
  margin-bottom: 20px;
  padding-right: 30px;
  word-wrap: break-word;
}

.emailBody {
  font-size: 16px;
  margin-bottom: 20px;
  word-wrap: break-word;
  padding-right: 30px;
}

ul {
  list-style: none;
}

.taskIcons {
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .dailyTaskContainer {
    width: 90vw;
  }
  .dailyTaskTitle {
    font-size: 20px;
  }
}
