.datePickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 50px 30px 0px 30px;
  height: 660px;
}

.datePickerInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.datePickerEmail {
  margin: 20px 0px;
  width: 200px;
}
.datePickerSubject {
  margin-bottom: 20px;
  width: 200px;
}

.datePickerBody {
  margin-bottom: 20px;
  width: 200px;
  height: 150px;
  resize: none;
}
.datePickerButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .datePickerMobile {
    width: 225px;
  }
}
